<p-toast position="bottom-right"></p-toast>
<div class="row">
  <div class="col-md-12">
    <h4 class="remove-margin">Edit Consultant </h4>
    <div class="card">
      <div class="card-header">
        <!-- <h5 class="card-title">Edit Profile</h5> -->


      </div>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="updateUserDetails()" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">

                <label>Created By:</label>
                <input type="text" formControlName="createdBy" class="form-control" readonly>

              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">

                <label>Consultant First Name:</label>
                <input type="text" formControlName="consultatName" class="form-control" placeholder="First Name">
                <div *ngIf="consultatName.invalid && (consultatName.dirty || consultatName.touched)"
                  class="form-text text-muted">
                  <div *ngIf="consultatName.errors?.required">
                    First Name is required.
                  </div>
                  <div *ngIf="consultatName.errors?.minlength">
                    First Name must be at least 2 characters long.
                  </div>
                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.consultatName }}</small>

              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>Consultant Last Name:</label>
                <input type="text" formControlName="consultantLastName" class="form-control" placeholder="Last Name"
                  required>
                <div *ngIf="consultantLastName.invalid && (consultantLastName.dirty || consultantLastName.touched)"
                  class="form-text text-muted">
                  <div *ngIf="consultantLastName.errors?.required">
                    Last Name is required.
                  </div>
                  <div *ngIf="consultantLastName.errors?.minlength">
                    Last Name must be at least 2 characters long.
                  </div>
                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.consultantLastName }}</small>

              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Consultant Email</label>
                <input type="email" formControlName="consultantEmail" class="form-control" placeholder="Email" required>

                <div *ngIf="consultantEmail.invalid && (consultantEmail.dirty || consultantEmail.touched)"
                  class="form-text text-muted">
                  <div *ngIf="consultantEmail.errors?.required">
                    Email is required.
                  </div>
                  <div *ngIf="consultantEmail.errors?.email">
                    Invalid email address.
                  </div>
                </div>

                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.consultantEmail }}</small>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Consultant Mobile Number:</label>
                <input type="text" formControlName="consultatMobileNumber" class="form-control"
                  placeholder="Mobile Number" required>
                <div
                  *ngIf="consultatMobileNumber.invalid && (consultatMobileNumber.dirty || consultatMobileNumber.touched)"
                  class="form-text text-muted">
                  <div *ngIf="consultatMobileNumber.errors?.required">
                    Mobile is required.
                  </div>
                  <div *ngIf="consultatMobileNumber.errors?.minlength">
                    Mobile must be at least 10 number long.
                  </div>
                </div>
                <small class="form-text text-muted"
                  *ngIf="serverErrors">{{ serverErrors.consultatMobileNumber }}</small>

              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-3">
              <label>Technology</label>
              <p-dropdown #dd [options]="cars" [(ngModel)]="selectedCar" formControlName="technology"
                [style]="{'width':'100%'}" scrollHeight="400px" filter="true" filterBy="value,label"
                resetFilterOnHide="true" (onFocus)="OnFocus()" (keydown)="test($event)">
              </p-dropdown>
              <div *ngIf="technology.invalid && (technology.dirty || technology.touched)" class="form-text text-muted">
                <div *ngIf="technology.errors?.required">
                  Technology is required.
                </div>

              </div>
              <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.technology }}</small>
              <!-- <div class="form-group">
                <label>Technology</label>

                <select  class="form-control selectpicker" formControlName="technology">
                  <option [ngValue]="null" disabled>Choose Technology</option>
                  <option *ngFor="let prf of allProfiles" [ngValue]="prf">
                   {{ prf.prName }}
                  </option>
                </select>
                <div *ngIf="technology.invalid && (technology.dirty || technology.touched)" class="form-text text-muted">
                  <div *ngIf="technology.errors?.required">
                    Technology is required.
                  </div>

                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.technology }}</small>

              </div> -->
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Visa Type:</label>
                <select class="form-control" formControlName="visaType">
                  <option value="null" disabled>Choose visaType</option>
                  <option value="H4 EAD">H4 EAD
                  </option>
                  <option value="H1B-Transfer">H1B-Transfer
                  </option>
                  <option value="CPT">CPT
                  </option>
                  <option value="OPT">OPT
                  </option>
                  <option value="H1-B">H1-B
                  </option>
                  <option value="GC-EAD">GC-EAD
                  </option>
                  <option value="Green Card">Green Card
                  </option>
                  <option value="US Citizen">US Citizen
                  </option>

                </select>
                <div *ngIf="visaType.invalid && (visaType.dirty || visaType.touched)" class="form-text text-muted">
                  <div *ngIf="visaType.errors?.required">
                    Visa Type is required.
                  </div>

                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.visaType }}</small>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label>Other Technology:</label>
                <input type="text" formControlName="otherTechnologies" class="form-control"
                  placeholder="Other Technology" >
                <div *ngIf="otherTechnologies.invalid && (otherTechnologies.dirty || otherTechnologies.touched)"
                  class="form-text text-muted">
                  <div *ngIf="otherTechnologies.errors?.required">
                    Other Technology is required.
                  </div>

                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.otherTechnologies }}</small>

              </div>
            </div>


            <div class="col-md-1">
              <div class="form-group">
                <label>Rate:</label>
                <input type="text" formControlName="rate" class="form-control" placeholder="Rate" required>
                <div *ngIf="rate.invalid && (rate.dirty || rate.touched)" class="form-text text-muted">
                  <div *ngIf="rate.errors?.required">
                    Rate is required.
                  </div>

                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.rate }}</small>

              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label>Experience:</label>
                <input type="text" formControlName="experience" class="form-control" placeholder="exp" required>
                <div *ngIf="experience.invalid && (experience.dirty || experience.touched)"
                  class="form-text text-muted">
                  <div *ngIf="experience.errors?.required">
                    Experience is required.
                  </div>

                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.experience }}</small>

              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>City:</label>
                <input type="text" formControlName="city" class="form-control" placeholder="City" required>
                <div *ngIf="city.invalid && (city.dirty || city.touched)" class="form-text text-muted">
                  <div *ngIf="city.errors?.required">
                    City is required.
                  </div>

                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.city }}</small>

              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>State:</label>
                <p-dropdown #dd [options]="states" [(ngModel)]="selectedStates" formControlName="state"
                  [style]="{'width':'100%'}" scrollHeight="400px" filter="true" filterBy="value,label"
                  resetFilterOnHide="true" (onFocus)="OnFocus()" (keydown)="statesUi($event)">
                </p-dropdown>
                <!-- <input type="text" formControlName="state" class="form-control" placeholder="State" required> -->
                <div *ngIf="state.invalid && (state.dirty || state.touched)" class="form-text text-muted">
                  <div *ngIf="state.errors?.required">
                    State is required.
                  </div>

                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.state }}</small>

              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Willing to Reloacate:</label>
                <select class="form-control" formControlName="willingLocation">
                  <option value="null">--select--</option>
                  <option value="yes">Yes </option>
                  <option value="no">No</option>
                </select>
                <div *ngIf="willingLocation.invalid && (willingLocation.dirty || willingLocation.touched)"
                  class="form-text text-muted">
                  <div *ngIf="willingLocation.errors?.required">
                    Willing to Relocate is required.
                  </div>

                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.willingLocation }}</small>

              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Documents collected:</label>
                <select class="form-control" formControlName="documentsCollected">
                  <option value="null">--select--</option>
                  <option value="yes">Yes
                  </option>
                  <option value="no">No
                  </option>
                </select>
                <div *ngIf="documentsCollected.invalid && (documentsCollected.dirty || documentsCollected.touched)"
                  class="form-text text-muted">
                  <div *ngIf="documentsCollected.errors?.required">
                    Documents is required.
                  </div>

                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.documentsCollected }}</small>

              </div>
            </div>



            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleInputEmail1">Resource:</label>
                <select class="form-control" formControlName="resource">
                  <option value="null">--select--</option>
                  <option value="yes">Yes
                  </option>
                  <option value="no">No
                  </option>
                </select>

                <div *ngIf="resource.invalid && (resource.dirty || resource.touched)" class="form-text text-muted">
                  <div *ngIf="resource.errors?.required">
                    Resource is required.
                  </div>

                </div>

                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.resource }}</small>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Status</label>
                <select class="form-control" formControlName="reportStatus">
                  <option value="null">--select--</option>
                  <option value="Interested">Interested</option>
                  <option value="not interested">not interested</option>
                  <option value="need to discuss">need to discuss</option>
                  <option value="Not responding">Not responding</option>
                  <option value="Employer lift the call">Employer lift the call</option>
                  <option value="Waiting for documents">Waiting for documents</option>
                </select>
                <div *ngIf="reportStatus.invalid && (reportStatus.dirty || reportStatus.touched)"
                  class="form-text text-muted">
                  <div *ngIf="reportStatus.errors?.required">
                    Status is required.
                  </div>

                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.reportStatus }}</small>

              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Last 4 digits of SSN :</label>
                <input type="text" formControlName="ssn" class="form-control" placeholder="SSN" required>
                <div *ngIf="ssn.invalid && (ssn.dirty || ssn.touched)" class="form-text text-muted">
                  <div *ngIf="ssn.errors?.required">
                    Mobile is required.
                  </div>
                  <div *ngIf="ssn.errors?.minlength">
                    Mobile must be at least 4 number long.
                  </div>
                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.ssn }}</small>

              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Best Contact Number</label>
                <input type="text" formControlName="bestContactNumber" class="form-control"
                  placeholder="Best Contact Number" required>
                <div *ngIf="bestContactNumber.invalid && (bestContactNumber.dirty || bestContactNumber.touched)"
                  class="form-text text-muted">
                  <div *ngIf="bestContactNumber.errors?.required">
                    Best ContactNumber is required.
                  </div>

                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.bestContactNumber }}</small>

              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Skype ID:</label>
                <input type="text" formControlName="skypeId" class="form-control" placeholder="SkypeId" required>


              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>linked In Url:</label>
                <input type="text" formControlName="linkedInUrl" class="form-control" placeholder="Linkedin Url"
                  required>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleInputEmail1">Availability:</label>
                <input type="text" formControlName="availability" class="form-control" placeholder="availability"
                  required>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Priority</label>
                <select class="form-control" formControlName="priority">
                  <option value="null">--select--</option>
                  <option value="High">High</option>
                  <option value="Medium">Medium</option>
                  <option value="Low">Low</option>
                </select>
                <div *ngIf="priority.invalid && (priority.dirty || priority.touched)" class="form-text text-muted">
                  <div *ngIf="priority.errors?.required">
                    priority is required.
                  </div>

                </div>
                <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.priority }}</small>

              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-lg-3">
              <div class="form-group">
               <span *ngIf="registerForm.value.resume">  Remove Resume <i class="pi pi-times" (click)="removeFile('resume')"></i> </span>
                  <label for="resume"> Resume :</label>
                  <input type="file" class="form-control"  (change)="imagesPreviewResume($event)">

              </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <span *ngIf="registerForm.value.otherDocument">  Remove ID Proof <i class="pi pi-times" (click)="removeFile('otherDocument')"></i> </span>
                <label for="otherDocument"> ID Proof :</label>
                <input type="file" class="form-control"  (change)="imagesPreviewOtherDoc($event)"  >

            </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <span *ngIf="registerForm.value.workAuthorization">  Remove workAuthorization <i class="pi pi-times" (click)="removeFile('workAuthorization')"></i> </span>
              <label for="workAuthorization"> Work Authorization :</label>
              <input type="file" class="form-control" (change)="imagesPreviewWorkAuth($event)" >
          </div>
      </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Comments</label>
                <textarea formControlName="comments" class="form-control"></textarea>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Note</label>
                <textarea formControlName="note" class="form-control"></textarea>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="technology1">1.Technology:</label>
                <input type="text" class="form-control" placeholder="Enter Technology" formControlName="technology1"
                  value="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="rating1">Rating:</label>
                <select class="form-control" formControlName="rating1">
                  <option value="null">--Select--</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="technology2">2.Technology:</label>
                <input type="text" class="form-control" placeholder="Enter Technology" formControlName="technology2"
                  value="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="rating2">Rating:</label>
                <select class="form-control" formControlName="rating2">
                  <option value="null">--Select--</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="technology3">3.Technology:</label>
                <input type="text" class="form-control" placeholder="Enter Technology" formControlName="technology3"
                  value="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="rating3">Rating:</label>
                <select class="form-control" formControlName="rating3">
                  <option value="null">--Select--</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="technology4">4.Technology:</label>
                <input type="text" class="form-control" placeholder="Enter Technology" formControlName="technology4"
                  value="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="rating4">Rating:</label>
                <select class="form-control" formControlName="rating4">
                  <option value="null">--Select--</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" [disabled]="!registerForm.valid">Update
                Consultant</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
