<div class="header-bg">
  <header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">

            <!-- Logo-->
            <div class="d-block d-lg-none mr-5">

                <a href="http://webmobilez.com/consultants/css/Group%201.png" class="logo">
                  Webmobilez
                </a>

            </div>


        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->


    <sidebar-cmp></sidebar-cmp>
</header>
</div>
<div class="wrapper">
  <div class="container-fluid">  <router-outlet></router-outlet></div>

</div>

