:host ::ng-deep .p-cell-editing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.disable-td{
  pointer-events: none;
}
.ui-button {
  margin-left: 0.10rem;
  margin-right: 0.10rem;
}
.btn-length
{
  margin-right: 5px;
}
