<!-- <div class="p-grid">
  <div class="p-col-6 p-offset-3">6</div>
</div> -->

<!-- <div class="p-grid">
    <div class="p-col">1</div>
    <div class="p-col">2</div>
    <div class="p-col">3</div>
</div> -->
<div class="container">
<div class="mt-5">
<div class="card text-center p-3">
<div>
  <div class="row">
    <div class="col-sm-4" *ngIf="menuexpectedrole=='Admin'">
     <a [routerLink]="['/superadmin/userlist']">
      <figure class="figure">
        <img src="../../assets/img/user.png" width="100" height="80">
        <h4 style="margin: 10px 0px 20px; color:#d94c27">Users</h4>
      </figure>
    </a>
    </div>
    <div class="col-sm-4"  *ngIf="(menuexpectedrole=='Admin') || (menuexpectedrole=='BenchSales') ">
      <a [routerLink]="['/commonmodule/interviews']">
        <figure class="figure">
          <img src="../../assets/img/calendar.png" width="100" height="80">
          <h4 style="margin: 10px 0px 20px; color:#d94c27">Interview Schedule</h4>
        </figure>
      </a>

    </div>
    <div class="col-sm-4" *ngIf="(menuexpectedrole=='Admin') || (menuexpectedrole=='BenchSales') ">
      <a [routerLink]="['/superadmin/documents']" *ngIf="menuexpectedrole=='Admin'">
        <figure class="figure">
          <img src="../../assets/img/download.png" width="100" height="80">
          <h4 style="margin: 10px 0px 20px; color:#d94c27">Download Center</h4>
        </figure>
      </a>
      <a [routerLink]="['/benchsales/documentlist']" *ngIf="menuexpectedrole=='BenchSales'">
        <figure class="figure">
          <img src="../../assets/img/download.png" width="100" height="80">
          <h4 style="margin: 10px 0px 20px; color:#d94c27">Download Center</h4>
        </figure>
      </a>
    </div>
    <div class="col-sm-4" *ngIf="(menuexpectedrole=='Admin') || (menuexpectedrole=='HeadHuntersAdmin') ">
      <a [routerLink]="['/headadminconsultants/list']">
        <figure class="figure">
          <img src="../../assets/img/search.png" width="100" height="80">
          <h4 style="margin: 10px 0px 20px; color:#d94c27">Head Hunters</h4>
        </figure>
      </a>
    </div>
    <div class="col-sm-4" *ngIf="(menuexpectedrole=='Admin') || (menuexpectedrole=='BenchSales') ">
      <a [routerLink]="['/benchsales/list']" *ngIf="menuexpectedrole=='Admin'">
        <figure class="figure">
          <img src="../../assets/img/submisions.png" width="100" height="80">
          <h4 style="margin: 10px 0px 20px; color:#d94c27">Bench Sales Submissions</h4>
        </figure>
      </a>
      <a [routerLink]="['/benchsales/list']" *ngIf="menuexpectedrole=='BenchSales'">
        <figure class="figure">
          <img src="../../assets/img/submisions.png" width="100" height="80">
          <h4 style="margin: 10px 0px 20px; color:#d94c27">Bench Sales Submissions</h4>
        </figure>
      </a>
    </div>
    <div class="col-sm-4">
      <a [routerLink]="['/calculator']">
        <figure class="figure">
          <img src="../../assets/img/calculator1.png" width="100" height="80">
          <h4 style="margin: 10px 0px 20px; color:#d94c27">Percentage</h4>
        </figure>
      </a>
    </div>
  </div>
  <div class="row mt-4" >

  </div>
</div>

</div>
</div>
</div>
